@page "/contact"


<PageTitle>Contact Us</PageTitle>
<style>
body {
background-color: #D9CFE7;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;
}
</style>

<h3>Contact Us</h3>

<p> 
    If you have any questions contact us through email:
</p>
<p>
    Tyler McMurray - Project Manager - tyler.mcmurray@cognizant.com
</p>
<p>
    Kireet Pajjur - FrontEnd Developer - kireet.pajjur@cognizant.com
</p>
<p>
    Abbas Rampurawala - FrontEnd Developer - abbas.rampurawala@cognizant.com
</p>
<p>
    Mohammed Asfoor - BackEnd Developer - mohammed.asfoor@cognizant.com
</p>
<p>
    Siri Nanduri - BackEnd Developer - siri.nanduri@cognizant.com
</p>




@code {

}
