@page "/fetchdata"

<PageTitle>About Us</PageTitle>
<style>
body {
background-color: #D9CFE7;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;
}
</style>

<h1>About Us</h1>