@page "/"
@using System.ComponentModel.DataAnnotations

<style>
body {
background-color: lightskyblue;

}
</style>

<img src="images\Findmydoc.png" alt = "logo" />



<p>Welcome to the next generation of finding your closest healthcare providers!</p>

<p>Please Log In or Register to fill out the form!</p>







