@page "/"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations
@using FindMyDoc.Shared;
@using System.Net.Http.Json;

<style>
body {
background-color: #D9CFE7;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;

}
</style>

<img src="images\Findmydoc.png" alt = "logo" />



<p>Welcome to the next generation of finding your closest healthcare providers!</p>

<p>Please Log In or Register to fill out the form!</p>

<button onclick=@(() => GetProviderByFips())>Get Provider By Fips</button>

@functions
{
    private async Task GetProviderByFips()
    {
        try
        {
            Provider p = await Http.GetFromJsonAsync<Provider>("api/get-provider?fips=4013");

            Console.WriteLine(p.all_providers);
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    /*private async Task PostProvider(Provider p)
    {
        try
        {
            await Http.PostAsync("api/add-provider",p)
            //await Http.PostAsync()
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }*/
}





