@page "/"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations
@using FindMyDoc.Shared;
@using System.Net.Http.Json;

<style>
body {
background-color: #D9CFE7;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;

}
</style>

<h1>Please Log In or Register to fill out the form!</h1>



<img src="images\Findmydoc.png" alt = "logo" />




<p>Welcome to the next generation of finding your closest healthcare providers!</p>


<p>
    Our mission is to improve the accessibility and organization of healthcare resources to ensure that every American is able to be cared for and receive the medical attention/assistance they need.
</p>

<p>
 We want to Give patients better access to primary care providers in their geographic area​, Allow patients to elect from a large set of providers based on their preferences​, and Allow patients to book their appointments online 
</p>


<p>
    STAY TUNED FOR FUTURE RELEASES
</p>