@page "/"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations
@using FindMyDoc.Shared;
@using System.Net.Http.Json;

<style>
body {
background-color: #D9CFE7;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;

}
</style>

<img src="images\Findmydoc.png" alt = "logo" />



<p>Welcome to the next generation of finding your closest healthcare providers!</p>

<p>Please Log In or Register to fill out the form!</p>

<button onclick=@(() => CreateProvider())>Create Provider</button>
<button onclick=@(() => GetProvider())>Get Provider</button>

@functions
{
    private async Task GetProvider()
    {
        try
        {
            Provider p = await Http.GetFromJsonAsync<Provider>("api/get-provider");
            Console.WriteLine(p);
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
    private async Task CreateProvider()
    {
        try
        {
            bool success = await Http.GetFromJsonAsync<bool>("api/create-provider");
            Console.WriteLine(success);
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}





