@page "/"
@inject HttpClient Http
@using System.ComponentModel.DataAnnotations
@using FindMyDoc.Shared;
@using System.Net.Http.Json;
@inject ToastService toastService
@using FindMyDoc.Client.Services;



<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You haven't logged in, so you cannot access the form</p>
    </NotAuthorized>
</AuthorizeView>

<style>
body {
background-color: #DCBCE2;
border-bottom: 1px solid #DCBCE2;
justify-content: center;
height: 3.5rem;

}
</style>

<h1>Please Log In or Register to fill out the form!</h1>


<p>Welcome to the next generation of finding your closest healthcare providers!</p>


<p>
    Our mission is to improve the accessibility and organization of healthcare resources to ensure that every American is able to be cared for and receive the medical attention/assistance they need.
</p>

<p>
 We want to give patients better access to primary care providers in their geographic area​, allow patients to select from a large set of providers based on their preferences​, and allow patients to book their appointments online 
</p>


<p>
    STAY TUNED FOR FUTURE RELEASES
</p>