@page "/users"

<h1>Users</h1>

<style>
body {
background-color: #DCBCE2;
border-bottom: 1px solid #DCBCE2;
justify-content: flex-end;
height: 3.5rem;
}
</style>

@if(users?.Any() ?? false)
{
    <table class="table">
    <thead>
        <tr>
            <th>Email/Username</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.userName @user.state @user.county</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <p class="primary">@role</p>
                    }
                </td>
                <td>
                    <button onclick=@(() => UpdateUser(user.Id)) class="btn btn-primary">Update</button>
                    <button onclick=@(() => DeleteUser(user.Id)) class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
        <h1>No Users</h1>
}